.heading {
  color: white;
  background-image: ("/resources/images/the-flatiron-building.png");
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
}

.heading h1 {
  font-size: 70px
}

.heading h4 {
  font-size: 23px
}

h3  {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: helvetica;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  font-family: helvetica;
}

h4, p {
  font-size: 14px;
  text-align: center;
  font-family: helvetica;
}

.copyright p {
  background-color: dimgray;
  color: white;
  font-family: helvetica;
  text-align: left;
}

#small {
  font-size: 11px;
}
